 body {
        font-family: "Sono", sans-serif;
      }

      /* Hint: What can you do with a media query and flexbox? */
      @media (max-width: 1250px) {
        .pricing-container{
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

      }
    }
.pricing-container{
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.pricing-plan{
    display: flex;
    flex-direction: column;
    background-color: 	#F5F5F5;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
}
.plan-title, .plan-price{
    text-align: center;
    font-weight: bold;
}
.plan-title{
    font-size: 1.5rem;
}
.plan-price{
    font-size: 3rem;
}
.plan-features{
    align-self: center;
    list-style: none;
}

.plan-button{
    background-color: orangered;
    align-self: center;
    max-width: 80px;
    padding: 10px;
    border-radius: 12%;
    color: #F5F5F5;
    border-color: orangered;

}
